@import "src/shared/variables";
nav{
  background-color: $primary;
  color: white;
  logo{
    font-size: 18px;
    font-weight: bold;
  }
}
ul{
  li{
    display: inline-block;
    border-radius: 3px;
    padding: 10px 20px;
    &:hover{
      background-color: $secondary;
    }
    transition: background-color 0.4s;
  }
}
