/* You can add global styles to this file, and also import other style files */
@import "app/shared/variables";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
list-style-type: none;
}
img{
  max-width: 100%;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
  font-family: $font ;
  color: $textRegular;
}

// ========= Utils ===============

.d-flex{
  display: flex;
}
.flex-row{
  flex-direction: row;
}
.flex-column{
  flex-direction: column;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-between{
  justify-content: space-between;
}
.align-items-center{
  align-items: center;
}
.flex-fill{
  flex: 1 1 auto;
}

.container{
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}


.p-10{
  padding: 10px;
}
.p-20{
  padding: 20px;
}
.m10{
  margin: 10px;
}
.m-20{
  margin: 20px;
}
.mb-20{
  margin-bottom: 20px;
}
.flex-50{
  flex: 1 1 50%;
}
.pr-10{
  padding-right: 10px;
}
.pl-10{
  padding-left: 10px;
}

//=========== Theme ===============
.list-primary-action{
  li{
    &:hover{
      background-color: $primary;
      color: white;
      cursor: pointer;
    }
    transition: background-color 0.3s;
  }
}

.list-primary{
  li{
    padding: 10px 15px;
    border: 1px solid $lightgrey;
    border-top: 0;
  }
  li:first-child{
    border-top: 1px solid $lightgrey;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  li:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

}

.btn{
  padding: 10px 15px;
  background-color: white;
  border: 0;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  &-primary{
    background-color: $primary;
    color: white;
    &:hover{
      background-color: $secondary;
    }
    transition: background-color 0.3s;
  }
}

.badge{
  background-color: $secondary;
  border-radius: 3px;
  padding: 2px 5px;
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.active{
  background-color: $secondary;
  color: white;
}

// ========== Debug ===========

.d1{
border: 1px solid red;
}
.d2{
  border: 1px solid green;
}


